<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Pineapple</title>
    </head>

    <body>
        <h1>Login to Wagerapp</h1></br></br>
        
        {% if user.is_authenticated %}
        <h1> Welcome, {{ user.username }}!</h1>
        <a href="/wagerapp/restricted/"> Go to the Resticted Site</a>
        </br>
        <a href="/wagerapp/logout/">Logout</a>
        {% else %}
        <h1> Welcome</h1>
        <a href="/wagerapp/login/">Login</a>
        </br>
        <a href="/wagerapp/register/">Register</a>
        {% endif %}
        
    </body>
</html>