<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Pineapple</title>
    </head>
    
    
    <body>
        <h1> Login to wagerapp</h1>
        <form id='login_form' method='post' action='/wagerapp/login/'>
            {% csrf_token %}
            Username: <input type='text' name= 'username' value="" size="25"/>
            </br></br>
            Password: <input type='password' name= 'password' value="" size="25"/>
            </br>
            
            <input type='submit' value='Login'/>
        </form>
    </body>
</html>
